/* RESET */
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
/* FINE RESET */
body {
  font-family: 'Montserrat', sans-serif;
}
span {
  font-size: 10px;
  display: block;
  margin-top: 40px;
}
.container {
  margin:auto;
  width: 1080px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
}
.title , .subtitle , .uppertitle {
  color: #33475b;
}
.uppertitle {
  text-transform: uppercase;
  font-size: 15px;
  margin: 20px 0;
}
.text {
  font-size: 12px;
  color: #33475b;
  margin: 30px 0;
}
.button-orange {
  color: #ffffff;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fe775a;
  padding: 15px 26px;
  text-decoration: none;
  font-size: 12px;
}
.check {
  color: #fe775a;
}
.img-poster {
  width: 41%;
}


/* HEADER */
/* Nav Upper */
header nav .upper {
  background-color: #f4f9fd;
  border-bottom: 2px solid lightgray;
}
header nav .col ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #33475b;
  text-decoration: none;
  list-style: none;
}
header nav .col ul li a {
  font-size: 12px;
  color: #33475b;
  text-decoration: none;
  list-style: none;
}
header nav .left,
header nav .right {
  width: 50%;
  margin: 22px 0;
}
header nav .left .language {
  border-right: 1px solid #33475b;
  padding-right: 15px;
}
header nav .right {
  text-align: right;
}
header nav .right .search {
  color: #2ab2c7;
}
header nav .right .button {
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 10px 10px;
}
header nav .right .button-nav {
  color: #ffffff;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fe775a;
  padding: 10px 10px;
}
/*  Fine Nav Upper */

/*  Nav Downer */
header nav .downer {
  background-color: #ffffff;
}
/*  Fine Nav Downer */
/* Jumbotron */
header .jumbotron {
  background-image: url(../img/jumbotron.png);
  background-size: auto;
  background-repeat: no-repeat;
  height: 694px;
  background-position: 44% 0;
}
header .teaser {
  padding-top: 200px;
  width: 500px;
}
header .teaser .title  {
  font-size: 41px;
}
/* Fine Jumbotron */
/* FINE HEADER */

/* INIZIO MAIN */
main .poster {
  background-color: #f4f9fd;
  padding-bottom: 40px;
}
/* Inizio Slogan */
main .slogan {
  text-align: center;
}
main .slogan h2 {
  font-size: 25px;
}
main .slogan .cuborubick {
  width: 22%;
  margin-top: 20px;
}
main .slogan p {
  padding: 0px 188px;
}
/* Fine Slogan */

/* Inizio Crm */
/* Inizio Col Left */
main .crm {
  background-color: white;
  padding: 28px 95px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #aaaaaa;
}
main .left {
  width: 30%;
}
main .crm .left .img-poster {
  display: block;
  margin-bottom: 48px;
}
/* Inizio Col Left */
main .crm .right {
  width: 65%;
  margin-left: 10px;
}
/* Fine Crm */
/* Inizio Services */
main .services .col {
  width: 30%;
  background-color: white;
  padding: 40px 48px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #aaaaaa;
  text-align: center;
}
main .services {
  margin-top: 40px;
}
main .services  .middle {
  margin: 0 5%;
}
main .services .col hr {
  margin: 20px 0;
}
main .services .col .list-decoration li{
  display: block;
}

main .services .left .list-decoration ,
main .services .middle .list-decoration ,
main .services .right .list-decoration {
  margin-bottom: 50px;
  text-align: left;
}
/* Fine Services */

/* Inizio Grow */
main .grow {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);

}
main .container .intestation {
  color: white;
  text-align: center;
  padding-bottom: 60px;
}
main .grow .container .intestation h2 {
  font-size: 25px;
  padding: 50px;
}
main .grow .container p {
  line-height: 1.6;
  font-size: 14px;
  padding-bottom: 40px;
}
main .grow .col {
  width: 25%;
}

main .grow .skill .col{
  padding: 40px 0;
  text-align: center;
  border-right: 1px solid white;
}
main .grow .skill .upper:last-child ,
main .grow .skill .downer:last-child {
  border: 0
}
/* Fine Grow */
/* Inizio Partnership */
/* Inizio Upper */
main .partnership .upper {
  padding-top: 40px;
}

main .partnership .goal {
  padding-top: 20px;
  width: 20%;
  text-align: left;
  margin-left: 51px;
}
main .partnership .goal h3 {
  font-size: 56px;
  padding-bottom: 10px;
}
main .partnership .customers {
  width: 56%;
  text-align: right;
  padding-top: 20px;
  margin-left: 19%;
}
.img-partnership {
  vertical-align: middle;
  width: 24%;
  padding-left: 10px;
  padding-bottom: 10px;
}
/* Fine Upper */
/* Inizio Downer */
main .partnership .teaser {
  width: 40%;
  padding-top: 110px;
}
main .partnership .figure {
  width: 60%;
}
main .partnership .figure {
  text-align: right;
}
main .partnership .figure img {
  width: 350px;
}
/* Fine Downer */
/* Fine Partnership */
/* FINE MAIN */

/* FOOTER */
footer {
  background-color: #37495A;
}
footer .footer-nav {
  padding: 40px 0;
}
footer .footer-nav .col {
  width: 25%;
  padding: 40px 0;
}
footer .footer-nav .col .bianco {
  color: white;
  font-size: 12px;
  text-decoration: none;
}
footer .footer-nav .col li {
  margin-bottom: 10px;

}
footer .footer-nav .nav ul {
  list-style: none;
}
.button-white {
  font-size: 12px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  color: #37495A;
  text-decoration: none;
  margin
}
#social {
  display: inline-block;
  padding: 15px 0;
}
/* Inizio Footer-Language */

/* Fine Footer-Language */
